@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply caret-secondary;
}
.custom-input-container {
  @apply w-full border-gray-300 bg-input-bg px-4 py-2 rounded-lg shadow-lg transition duration-200 ease-in-out mt-7;
}

.custom-label {
  @apply text-base text-white font-light;
}

.custom-input {
  @apply block w-full focus:outline-none bg-transparent text-white text-lg placeholder-gray-500;
}

.custom-input-container:focus-within {
  @apply bg-gray-700 border-none;
}

.custom-input-container:focus-within .custom-input {
  @apply bg-gray-700;
}

.custom-input::placeholder {
  @apply text-gray-500;
}

body {
  @apply bg-custom-bg text-white;
}
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.loading-animation {
  animation: loading 2s infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    to right,
    #22d3ee,
    #ec4899,
    #a855f7,
    #fb923c
  ); /* Colores pastel */
}
